{% extends 'mail_base.html.twig' %}
{% import _self as utils %}
{% set basket = data.basket %}
{% set contact = data.contact %}
{% block body %}
    {% apply spaceless %}
        {% block contact %}
            <h2>Данные заявки</h2>
            <div>
                <div>Тип подключения: <b>{{ contact.type == "self" ? "Самостоятельно" : (contact.type == "phone" ? "По телефону") }}</b></div>
                <h3>Данные контакта</h3>
                {% if contact.type == "self" %}
                <div>Присвоенный логин в биллинге: <i>{{ data.complatLogin }}</i></div>
                {% endif %}
                <div>ФИО: {{ contact.input_fio }}</div>
                <div>Телефон: {{ contact.input_phone }}</div>
                {% if contact.type == "self" %}
                    <div>E-mail: {{ contact.input_email }}</div>
                {% endif %}
                <div>Объект: {{ data.address.title }} ({{ data.address.address }})</div>
                {% if contact.type == "self" %}
                    <div>Корпус: {{ contact.input_building }}</div>
                    <div>Квартира: {{ contact.input_apartment }}</div>

                    <h3>Паспортные данные</h3>
                    <div>Серия и номер: {{ contact.input_passport_series }} {{ contact.input_passport_num }}</div>
                    <div>Кем и когда выдан: {{ contact.input_passport_who }}</div>
                    <div>Адрес регистрации: {{ contact.input_passport_address }}</div>
                    <div>Дата рождения: {{ contact.input_birthday }}</div>
                {% endif %}

                {% if contact.use_connect_time %}
                    <h3>Желаемое время подключения</h3>
                    <div>Дата: {{ contact.connect_time.day }}.{{ contact.connect_time.month }}.{{ contact.connect_time.year }}</div>
                    <div>Время: c {{ contact.connect_time.hour_start }} ч. до {{ contact.connect_time.hour_end }} ч.</div>
                {% endif %}

                {% if contact.input_comment %}
                    Комментарий: {{ data.contactParam('input_comment') }}
                {% endif %}
            </div>
        {% endblock contact %}
        {% block details %}
            <h2>Детали заказа</h2>
            <div>
                <div>Итоговая стоимость: {{ utils.show_price_with_discount(basket) }}</div>
                {% if basket.discount.percentage > 0 %}
                    <div>Примененная скидка: {{ basket.discount.percentage }} %</div>
                {% endif %}
                <div>К оплате: {{ basket.discountedPrice.summarizedValue }} р.</div>

            </div>
        {% endblock %}
        {% block internet %}
            {{ utils.show_section(basket, 'Интернет', 'internet_basic', 'additional_internet', ['devices_internet_ont', 'devices_internet_wifi']) }}
        {% endblock %}

        {% block tv %}
            {{ utils.show_section(basket, 'ТВ', 'tv_basic', ['tv_addons', 'tv_theatres'], 'devices_tv_box') }}
        {% endblock %}

        {% if basket.itemsByProductCategoryCode(['additional_phone', 'additional_vision_home', 'additional_vision_parking'])|length > 0 %}
            {% block additional %}
{#                <h2>Дополнительные услуги</h2>#}
                {{ utils.show_section(basket, 'Телефония', 'additional_phone', false, ['devices_additional_phone_dect', 'devices_additional_phone_table']) }}
                {{ utils.show_section(basket, 'Домашнее видеонаблюдение', 'additional_vision_home', false, ['devices_additional_vision_home']) }}
                {{ utils.show_section(basket, 'Видеонаблюдение на парковке', 'additional_vision_parking', 'additional_vision_poe', ['devices_additional_vision_parking']) }}
            {% endblock %}
        {% endif %}
    {% endapply %}
{% endblock %}

{% macro show_price_with_discount(basketItem) %}
    {% if basketItem.discountedPrice.connectionPrice > 0 %}
        {{ basketItem.discountedPrice.connectionPrice|localizedcurrency('RUB') }} +
    {% endif %}
    {% if basketItem.discountedPrice.monthlyPrice != basketItem.price.monthlyPrice  %}
        <s>{{ basketItem.price.monthlyPrice|localizedcurrency('RUB') }}</s>
    {% endif %}
    {{ basketItem.discountedPrice.monthlyPrice|localizedcurrency('RUB') }}/мес.
{% endmacro %}

{% macro show_connection_price(basketItem) %}
    {{ basketItem.discountedPrice.connectionPrice|localizedcurrency('RUB') }}
{% endmacro %}

{% macro show_section(basket, title, plan_cat, additional_cats, devices_cats) %}
    {% set plan =  basket.itemsByProductCategoryCode(plan_cat) %}
    {% if plan is not empty %}
        {% set item = plan|first %}
        <h3>{{title}}</h3>
        <div> Тариф: &laquo;{{ item.product.title }}&raquo; ... <span>{{ utils.show_price_with_discount(item) }}</span></div>

        {% set additional = basket.itemsByProductCategoryCode(additional_cats) %}
        {% if additional is not empty %}
            <h4>Дополнительно</h4>
            <ul>
                {% for item in additional %}
                    <li>&laquo;{{ item.product.title }}&raquo; ... <span>{{ utils.show_price_with_discount(item) }}</span></li>
                {% endfor %}
            </ul>

        {% endif %}

        {% set devices = basket.itemsByProductCategoryCode(devices_cats) %}
        {% if devices is not empty %}
            <h4>Устройства</h4>
            <ul>
                {% for item in devices %}
                    <li>&laquo;{{ item.product.title }}&raquo; &times;{{ item.count }} шт. ... <span>{{ utils.show_connection_price(item) }}</span></li>
                {% endfor %}
            </ul>

        {% endif %}
    {% endif %}
{% endmacro %}