{%- import _self as utils %}
{%- set basket = data.basket %}
{%- set contact = data.contact %}
{%- if part == 1 %}
{%- block details %}
{{-'Стоимость заказа'|upper}}
Итоговая стоимость: {{ utils.show_price_with_discount(basket) }}
{%- if basket.discount.percentage > 0 %}

Примененная скидка: {{ basket.discount.percentage }} %
{%- endif %}

К оплате: {{ basket.discountedPrice.summarizedValue }} р.

{%- endblock details %}
{%- endif %}
{%- if part == 1 %}
{%- block contact %}
{% apply striptags %}


***{{~ 'Данные заявки'|upper }}***

    {{~''}}<div>Тип подключения: <b>{{~ contact.type == "self" ? "Самостоятельно" : (contact.type == "phone" ? "По телефону") }}</b></div>

    {{~ 'Данные контакта'|upper }}
    {%~ if contact.type == "self" %}
    {{~''}}<div>Присвоенный логин в биллинге: <i>{{ data.complatLogin }}</i></div>
    {%~ endif %}
    {{~''}}<div>ФИО: {{ contact.input_fio }}</div>
    {{~''}}<div>Телефон: {{ contact.input_phone }}</div>
    {%~ if contact.type == "self" %}
        {{~''}}<div>E-mail: {{ contact.input_email }}</div>
    {%~ endif %}
    {{~''}}<div>Объект: {{ data.address.title }} ({{ data.address.address }})</div>
    {%~ if contact.type == "self" %}
        {{~''}}<div>Корпус: {{ contact.input_building }}</div>
        {{~''}}<div>Квартира: {{ contact.input_apartment }}</div>

        {{~'Паспортные данные'|upper}}
        {{~''}}<div>Серия и номер: {{ contact.input_passport_series }} {{ contact.input_passport_num }}</div>
        {{~''}}<div>Кем и когда выдан: {{ contact.input_passport_who }}</div>
        {{~''}}<div>Адрес прописки: {{ contact.input_passport_address }}</div>
    {%~ endif %}

    {%~ if contact.use_connect_time %}
        {{'Желаемое время подключения'|upper}}
        {{~''}}<div>Дата: {{ contact.connect_time.day }}.{{ contact.connect_time.month }}.{{ contact.connect_time.year }}</div>
        {{~''}}<div>Время: c {{ contact.connect_time.hour_start }} ч. до {{ contact.connect_time.hour_end }} ч.</div>
    {%~ endif %}

    {%~ if contact.input_comment %}
        {{~'Комментарий к заявке'|upper}}: {{ data.contactParam('input_comment') }}
    {%~ endif %}
{%~ endapply %}
{% endblock contact %}
{% endif %}


{%- if part == 3 %}
{%- block internet %}


{{ utils.show_section(basket, 'Интернет', 'internet_basic', 'additional_internet', ['devices_internet_ont', 'devices_internet_wifi']) }}
{%- endblock internet %}
{% endif %}
{%- if part == 4 %}
{%- block tv %}

{{ utils.show_section(basket, 'ТВ', 'tv_basic', ['tv_addons', 'tv_theatres'], 'devices_tv_box') }}
{%- endblock tv %}
{%- endif %}

{%- if basket.itemsByProductCategoryCode(['additional_phone', 'additional_vision_home', 'additional_vision_parking'])|length > 0 %}
{%- block additional %}
{%- if part == 5 %}
{{ utils.show_section(basket, 'Телефония', 'additional_phone', false, ['devices_additional_phone_dect', 'devices_additional_phone_table']) }}

{{ utils.show_section(basket, 'Домашнее видеонаблюдение', 'additional_vision_home', false, ['devices_additional_vision_home']) }}

{{ utils.show_section(basket, 'Видеонаблюдение на парковке', 'additional_vision_parking', 'additional_vision_poe', ['devices_additional_vision_parking']) }}
{%- endif %}
{%- endblock %}
{%- endif %}


{%- macro show_price_with_discount(basketItem) %}
{%- if basketItem.discountedPrice.connectionPrice > 0 %}
{{- basketItem.discountedPrice.connectionPrice|localizedcurrency('RUB') }} +
{%- endif %}
{{- basketItem.discountedPrice.monthlyPrice|localizedcurrency('RUB') }}/мес.
{%- if basketItem.discountedPrice.monthlyPrice != basketItem.price.monthlyPrice  %}
({{- basketItem.price.monthlyPrice|localizedcurrency('RUB') }}/мес.)
{%- endif %}
{%- endmacro %}

{%- macro show_connection_price(basketItem) %}
{{- basketItem.discountedPrice.connectionPrice|localizedcurrency('RUB') }}
{% endmacro %}

{%- macro show_section(basket, title, plan_cat, additional_cats, devices_cats) %}
{%- set plan =  basket.itemsByProductCategoryCode(plan_cat) %}
{%- if plan is not empty %}
{%- set item = plan|first %}
***{{-title|upper}}***

Тариф: {{ item.product.title }} ... {{ utils.show_price_with_discount(item) }}

{% set additional = basket.itemsByProductCategoryCode(additional_cats) %}
{%- if additional is not empty %}
{{ 'Дополнительно'|upper }}

{% for item in additional %}
- "{{ item.product.title }}" ... {{ utils.show_price_with_discount(item) }}
{% endfor %}

{% endif %}

{%- set devices = basket.itemsByProductCategoryCode(devices_cats) %}
{%- if devices is not empty %}
{{'Устройства'|upper}}

{% for item in devices %}
- "{{ item.product.title }}" x {{- item.count }} шт. ... {{- utils.show_connection_price(item) }}
{%- endfor %}

{% endif %}
{%- endif %}
{%- endmacro %}