{% extends 'base.html.twig' %}


{% block body %}
    <div id="all">
        <div id="header" class="box_bluring {{ header_options.classString }}">
            <div id="header_top">
                <div>
                    <div class="menu" id="menu_top_wrapper">
                        <a href="javascript://" class="mobile_burger" onclick="return projectApi.getUserInterface().toogleMenu();"><span>&nbsp;</span></a>
                        <div class="list">
                            {% block mobile_menu %}
                                {{ knp_menu_render('mobile_main_menu', {depth: 1, template: 'menu/mobile_top_menu.html.twig'}) }}
                            {% endblock mobile_menu %}
                        </div>
                    </div>
                    <div class="logo"><a href="/">&nbsp;</a></div>
                    <div class="left">
                        <a href="tel:+74956459828" class="phone_connect" title="Подключение">
                            <span class="icon"><span>&nbsp;</span></span>
                            <span class="text">
                  <span>Подключение:</span>
                  +7 (495) 645-98-28
                </span>
                        </a>
                        <a href="tel:+74995515331" class="phone_support" title="Техподдержка">
                            <span class="icon"><span>&nbsp;</span></span>
                            <span class="text">
                  <span>Техподдержка:</span>
                  +7 (499) 551-53-31
                </span>
                        </a>
                    </div>
                    <div class="right">
                        <a href="https://lk.rosfondom.ru" class="cabinet" title="Личный кабинет">
                            <span class="icon"><span>&nbsp;</span></span>
                            <span class="text">
                  Личный кабинет
                </span>
                        </a>
                        <a href="/#main_6" class="pay" title="Оплатить">
                            <span class="icon"><span>&nbsp;</span></span>
                            <span class="text">
                  Оплатить
                </span>
                        </a>
{#                        <a href="javascript://" class="help" title="FAQ">#}
{#                            <span class="icon"><span>&nbsp;</span></span>#}
{#                        </a>#}
                    </div>
                </div>
            </div>
            <div id="header_bottom">
                <div id="header_content">
                    <div>
                        <div class="logo"><a href="/">&nbsp;</a></div>
                        <div class="cnt">
                            {% block top_menu %}
                                {{ knp_menu_render('top_menu', {depth:1, template:'menu/sub_menu_top.html.twig'}) }}
                            {% endblock top_menu %}
                            <div class="right">
                                <div class="text">
                                    <div class="b1">Оператор связи</div>
                                    <div class="b2"><span>нашего</span> города</div>
                                </div>
                                <div class="button">
                                    <a href="{{ path('calculator_index') }}">Подключиться</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if header_options.options.banner %}
                    <div id="header_image_wrapper">
                        <div style="background-image:url({{ asset(header_options.options.banner) }});">
                            <div class="button"><a href="{{ path('calculator_index') }}">Подключиться</a></div>
                        </div>
                    </div>
                {% endif %}


                {% block sub_menu %}
                    {% set selected = knp_menu_get_current_item('top_menu') %}
                    {% set sub_menu = false %}
                    {% if selected.parent is not null %}
                        {% if selected.parent.name != 'root' %}
                            {%- set sub_menu = knp_menu_get(selected.parent) %}
                        {% elseif selected.parent.name == 'root' and selected.children %}
                            {%- set sub_menu = knp_menu_get(selected) %}
                        {% endif %}
                    {% endif %}

                    {% if sub_menu %}
                        {{ knp_menu_render(sub_menu, {
                            depth:1,
                            template: 'menu/sub_menu.html.twig',
                        }) }}
                    {% endif %}
                {% endblock sub_menu %}


                {% if header_options.options.slidered %}
                    {% block main_slider %}
                        {{ render_slider('main')|raw }}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
        <div id="content" class="box_bluring">
            {% block inner %}
            {% endblock inner %}
            <div id="footer_spacer"></div>
        </div>
        <div id="footer" class="box_bluring">
            <div>
                <div class="left">
                    <div class="logo"><a href="/">&nbsp;</a></div>
                    <div class="copyrights">
                        Росфондом — Оператор связи нашего города
                        <br><br>
                        &copy; 2020
                    </div>
                </div>
                <div class="right">
                    <div class="top">
                        <div class="b1">
                            <div class="icon"></div>
                            <div class="title">Подключение:</div>
                            <div class="val"><a href="tel:+74956459828">+7 (495) 645-98-28</a></div>
                        </div>
                        <div class="b2">
                            <div class="icon"></div>
                            <div class="title">Техподдержка:</div>
                            <div class="val"><a href="tel:+74995515331">+7 (499) 551-53-31</a></div>
                        </div>
                        <div class="b3">
                            <div class="icon"></div>
                            <div class="title">Напишите нам:</div>
                            <div class="val"><a href="mailto:rosfondom@rosfon.ru">rosfondom@rosfon.ru</a></div>
                        </div>
                    </div>
                    <div class="bot">

                        {% block bottom_menu %}
                        {{ knp_menu_render('main_menu', {depth: 2}) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block top_javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        window._initTplVars = {};
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        window._initSettings = {
            recaptha_key : '{{ google_recaptcha_site_key }}'
        };

        function GRonloadCallback()
        {
            gCR.ready();
        };
    </script>
    <script type="text/javascript" src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" async onload="yMR.ready();"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api.js?onload=GRonloadCallback&hl=ru" async></script>
    {{ encore_entry_script_tags('main') }}

{% endblock %}