{% extends 'layout.html.twig' %}

{% block inner %}
    <div id="about_developers_1">
        <div>
            <div class="title">О компании</div>
            <div id="about_developers_1_1">
                <div class="b1">Наши основные принципы: надежность, скорость и открытость.</div>
                <div class="b2">Мы выполняем спектр работ по <b>строительству сетей связи с последующим предоставлением услуг</b> конечному потребителю.</div>
                <div class="b3">
                    <ul>
                        <li>Наличие <b>собственных инвестиционных ресурсов</b>;</li>
                        <li><b>большой практический опыт</b> в проектировании, строительстве, эксплуатации сооружений связи различного уровня;</li>
                        <li><b>индивидуальный подход</b> к каждому клиенту;</li>
                        <li>персональная <b>служба поддержки абонентов 24/7</b>;</li>
                        <li>оперативное подключение абонентов <b>в течение 1 дня</b>;</li>
                        <li>самые современные технологии подключения — <b>GPON</b> — <b>оптика в квартиру</b>.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="about_developers_2">
        <div>
            <div class="title">Услуги</div>


            <div id="about_developers_2_content">
                <div id="about_developers_2_1">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Доступ к сети интернет</span>
                            <span class="desc">
              подключение по передовой технологии с использованием современного оборудования
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_2">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Интерактивное ТВ</span>
                            <span class="desc">
              передача телевизионного сигнала через спутниковую, коаксиальную или IP сеть
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_3">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Телефония</span>
                            <span class="desc">
              услуги телефонии, включая междугородную и международную связь
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_4">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Умный дом</span>
                            <span class="desc">
            управляйте светом, климатом, домашними устройствами с помощью смартфона из любой точки мира
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_5">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Охранная сигнализация</span>
                            <span class="desc">
              надежная защита квартиры и офиса от несанкционированного проникновения
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_8">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Общественные Wi-Fi зоны</span>
                            <span class="desc">
              сервис, позволяющий создать единое информационное пространство на территории жилого комплекса
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_6">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Домофон</span>
                            <span class="desc">
            современные цифровые системы домофонии от ведущих производителей
            </span>
                        </div>
                    </div>
                </div>
                <div id="about_developers_2_7">
                    <div>
                        <div class="short_block">
                            <span class="icon">&nbsp;</span>
                            <span class="icon_white">&nbsp;</span>
                            <span class="title">Облачное видеонаблюдение</span>
                            <span class="desc">
            сервис, позволяющий создать собственную систему видеонаблюдения
            </span>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>

        </div>
    </div>


    <div id="about_developers_3">
        <div>
            <div class="title">Комплексные решения по созданию телекоммуникационной инфраструктуры зданий</div>
            <div class="content">
                <ul>
                    <li><b>Выдача технических условий</b> на телефонизацию зданий;</li>
                    <li>разработка и согласование <b>технических заданий</b>;</li>
                    <li>проектирование и строительство <b>волоконно-оптических линий</b> связи;</li>
                    <li>строительство <b>телефонной канализации</b>;</li>
                    <li>проектирование и строительство <b>структурированных кабельных систем</b>;</li>
                    <li>услуги связи <b>на время строительства</b>;</li>
                    <li><b>выдача справок</b> о телефонизации;</li>
                    <li><b>мультиканальность</b> — объединение в единую систему телефонных и вычислительных сетей а также домофонии и элементов систем пожарной и охранной сигнализаций.</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="about_developers_4">
        <div>
            <div class="title">Реализованные проекты</div>
            <div id="about_developers_4_content" class="list_content_1">
                {% for item in list %}
                <div class="list_content_dev_item{% if loop.index > 9 %} hide{% endif %}">
                    <div class="image"><div style="background-image:url({% path item.image, 'preview' %});"></div></div>
                    <div class="content">
                        <div class="title"><div>{{ item.name }}</div></div>
                        <div class="where"><div>{{ item.address }}</div></div>
                        {% if item.apartmentsCount > 0 %}<div class="ap_c"><div>Кол-во квартир: <span>{{ item.apartmentsCount }}</span></div></div>{% endif %}
{#                        <div class="builder"><div>Застройщик: <span>{{ item.builder }}</span></div></div>#}
                        {% if item.apartmentsCount == 0 %}
                            <div class="ap_c"><div></div></div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div id="about_developers_4_content_more"><a href="javascript://" onclick="about_developers_show_more_devs(); return false;" class="button_3">Показать еще</a></div>
        </div>
    </div>

    <script>
        function about_developers_show_more_devs() {
            document.querySelectorAll('#about_developers_4_content > div').forEach(function(i) {
                i.style.display = 'block';
                eApi.getFuncs().nextAnimFrame(function() {
                    i.classList.remove('hide');
                });
            });
            document.getElementById('about_developers_4_content_more').classList.add('hide');
        }
    </script>

    <div id="about_developers_5">
        <div>
            <div class="img"><div></div></div>
            <div class="title">Оператор связи <span>нашего города</span></div>
            <div class="content">
                <div class="desc">Мы открыты к сотрудничеству, оставьте ваши контактные данные и мы свяжемся с Вами в ближайшее время!</div>
                <div class="form">
                    <form action="/" id="about_developers_contact_form">
                        <div class="std_form_fields">
                            <div class="line x3">
                                <div>
                                    <div class="title"><span class="star">*</span> Имя:</div>
                                    <div class="input"><input type="text" name="name"></div>
                                </div>
                                <div>
                                    <div class="title"><span class="star">*</span> Контактный телефон:</div>
                                    <div class="input"><input type="text" name="phone"></div>
                                </div>
                                <div>
                                    <div class="title">E-mail:</div>
                                    <div class="input"><input type="text" name="email"></div>
                                </div>
                            </div>
                            <div class="line x1">
                                <div>
                                    <div class="title">Примечание:</div>
                                    <div class="input"><textarea name="note"></textarea></div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value="{{ form.type.vars.value }}" name="{{ form.type.vars.name }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('connection_order') }}">
                        <div class="button"><a href="javascript://" class="button_3 submit_button">Отправить</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.jsReady(function() {
            var phoneInput = document.querySelector('#about_developers_contact_form input[name=phone]');
            var inputmask_phone = new Inputmask("+7 (999) 999-99-99", {clearIncomplete: true, onincomplete : function(){ phoneInput.setAttribute('value', ''); }});
            inputmask_phone.mask(phoneInput);

            projectApi.getFuncs().validateForm(
                document.getElementById('about_developers_contact_form'),
                function(data, formdata, form)
                {
                    eApi.getInterface().showCaptcha('Для отправки Вашей заявки необходимо подтверждение', function(captchaResponse) {
                        data['g-recaptcha-response'] = captchaResponse;

                        eApi.getFuncs().sendData('{{ path('connection_form') }}', data)
                            .then(function(response) {

                                if (response.data.success) {
                                    eApi.getFuncs().alert('Заявка отправлена', {
                                        box_destroy : function() {
                                            //Можно перезагрузить страницу если надо
                                            //document.location.reload();
                                        }
                                    });
                                }
                                else {
                                    eApi.getFuncs().alert('Произошла ошибка в ходе отправки формы');
                                }




                            })
                            .catch(function() {

                                eApi.getFuncs().alert('Произошла ошибка в ходе отправки формы');

                            });
                    });
                },
                function(data, form)
                {
                    var errors = [];


                    if (data.name.length == 0)
                    {
                        errors.push('Поле имя не заполнено');
                    }

                    if (data.phone.length == 0)
                    {
                        errors.push('Поле телефон не заполнено');
                    }

                    if (data.email.length > 0 && eApi.getFuncs().checkIsEmail(data.email) == false)
                    {
                        errors.push('Поле e-mail заполнено некорректно');
                    }


                    return errors;
                },
                function(errors, form)
                {
                    projectApi.getFuncs().showErrorsInBox(errors);
                }
            );
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        #about_developers_contact_form .recaptcha_wrap {
            display: flex;
            justify-content: center;
        }
    </style>
{% endblock %}

{%- block title %}
    Застройщикам и УК | РосФонДом - Оператора связи нашего города
{%- endblock %}